{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    
            <h2 class="mt-4">Tableau de bord</h2>
            <div class="container text-center">
                <div class="row pt-4">
                    <div class="col-xl-12 col-md-12">
                        <div class="card text-white mb-4 bg-campaign">
                            <div class="card-body">
                            <a class="small text-white stretched-link" href="{{ path("campaign_new") }}">
                                <h2>Créer une campagne</h2>
                            </a>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
                    <div class="row pt-4">
                        <div class="col-xl-6 col-md-6">
                            <div class="card bg-template text-white mb-4">
                                <div class="card-body">
                                <a class="small text-white stretched-link" href="{{path("template_new")}}">
                                <h2>Créer un template</h2>
                                </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="card bg-contact text-white mb-4">
                                <div class="card-body">
                                <a class="small text-white stretched-link" href="{{path("contact_new")}}">
                                <h2>Créer un contact</h2>
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</body>

    
{% endblock %}
