<form method="post" class="pt-4" action="{{ path('template_delete', {'id': template.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ template.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
