{{ form_start(form) }}
    <div class="row">
        <div class="col-12">
            {{ form_row(form.name_template) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12" >
            {{ form_row(form.file_template) }}
        </div>
    </div>
    <div class="row justify-content-center pt-4">
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}

