{% extends 'base.html.twig' %}

{% block title %}Edit Template{% endblock %}

{% block body %}
    <div class="row justify-content-between">
    <h1>Editer le Template</h1>
        <div>
            <a class="btn btn-secondary" href="{{ path('template_index') }}">Retour à la liste</a>
            {{ include('template/_delete_form.html.twig') }}
        </div>
    </div>
    <div class="container pt-4">
    {{ include('template/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>

    
{% endblock %}
