{% extends 'base.html.twig' %}

{% block title %}Template index{% endblock %}

{% block body %}

    <div class="row justify-content-between">
        <h1>Liste des Templates</h1>
        <div>
            <a class="btn btn-primary" href="{{ path('template_new') }}">
                Créer Template
            </a>
        </div>
        
    </div>

    <table-component 
    :datas="{{ templates }}"
    ></table-component>
{% endblock %}
