{% extends 'base.html.twig' %}

{% block title %}Créer Template{% endblock %}

{% block body %}
    <div class="row justify-content-between">
        <h1>Créer un nouveau template</h1>
        <div>
            <a class="btn btn-secondary" href="{{ path('template_index') }}">Retour à la liste</a>
        </div>
    </div>
    <div class="container pt-4">
        {{ include('template/_form.html.twig') }}
    </div>
{% endblock %}
