{% extends 'base.html.twig' %}

{% block title %}Template{% endblock %}

{% block body %}
    <h1>Template</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ template.id }}</td>
            </tr>
            <tr>
                <th>Name_template</th>
                <td>{{ template.nameTemplate }}</td>
            </tr>
            <tr>
                <th>File_template</th>
                <td>{{ template.fileTemplate ? template.fileTemplate|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('template_index') }}">back to list</a>

    <a href="{{ path('template_edit', {'id': template.id}) }}">edit</a>

    {{ include('template/_delete_form.html.twig') }}
{% endblock %}
