{% extends 'base.html.twig' %}

{% block title %}Edit Liste{% endblock %}

{% block body %}
    <div class="row justify-content-between">
    <h1>Editer la Liste</h1>
        <div>
            <a class="btn btn-secondary" href="{{ path('liste_index') }}">Retour à la liste</a>
            {{ include('liste/_delete_form.html.twig') }}
        </div>
    </div>
<div class="container pt-4">
    {{ include('liste/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>


    
{% endblock %}
