{% extends 'base.html.twig' %}

{% block title %}Liste index{% endblock %}

{% block body %}

    <div class="row justify-content-between">
        <h1>Liste des contacts</h1>
        <div>
            <a class="btn btn-primary" href="{{ path('liste_new') }}">
                Créer Liste
            </a>
        </div>
        
    </div>

    <table-component 
    :datas="{{ listes }}"
    ></table-component>
{% endblock %}
