{% extends 'base.html.twig' %}

{% block title %}New Liste{% endblock %}

{% block body %}
    <div class="row justify-content-between">
        <h1>Créer une nouvelle liste</h1>
        <div>
            <a class="btn btn-secondary" href="{{ path('liste_index') }}">Retour à la liste</a>
        </div>
    </div>
    <div class="container pt-4">
        {{ include('liste/_form.html.twig') }}
    </div>

{% endblock %}
