{% extends 'base.html.twig' %}

{% block title %}Liste{% endblock %}

{% block body %}
    <h1>Liste</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ liste.id }}</td>
            </tr>
            <tr>
                <th>Name_liste</th>
                <td>{{ liste.nameListe }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('liste_index') }}">back to list</a>

    <a href="{{ path('liste_edit', {'id': liste.id}) }}">edit</a>

    {{ include('liste/_delete_form.html.twig') }}
{% endblock %}
