<form method="post" class="pt-4" action="{{ path('campaign_delete', {'id': campaign.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ campaign.id) }}">
    <button class="btn btn-danger ">Supprimer Campagne</button>
</form>
