{% extends 'base.html.twig' %}

{% block title %}Edition campagne{% endblock %}

{% block body %}
    
    <div class="row justify-content-between">
    <h1>Editer la Campagne</h1>
        <div>
            <a class="btn btn-secondary" href="{{ path('campaign_index') }}">Retour à la liste</a>
            {{ include('campaign/_delete_form.html.twig') }}
        </div>
    </div>

<div class="container pt-4">
    {{ include('campaign/_form.html.twig', {'button_label': 'Modifier'}) }}
</div>

{% endblock %}
