{% extends 'base.html.twig' %}

{% block title %}Liste des campagnes{% endblock %}

{% block body %}
    <div class="row justify-content-between">
        <h1>Liste des campagnes</h1>
        <div>
            <a class="btn btn-primary" href="{{ path('campaign_new') }}">
                Créer Campagne
            </a>
        </div>
        
    </div>

    
    <table-component 
    :datas="{{ campaigns }}"
    ></table-component>


    
{% endblock %}
