{% extends 'base.html.twig' %}

{% block title %}New Campaign{% endblock %}

{% block body %}

<div class="row justify-content-between">
    <h1>Créer une nouvelle campagne</h1>
    <div>
        <a class="btn btn-secondary" href="{{ path('campaign_index') }}">Retour à la liste</a>
    </div>
</div>

<div class="container pt-4">
    {{ include('campaign/_form.html.twig') }}
</div>
    

    
{% endblock %}
