{% extends 'base.html.twig' %}

{% block title %}Campagne{% endblock %}

{% block body %}
    <div class="row justify-content-between">
    <h1>Campagne</h1>
    <div>
        <a class="btn btn-secondary" href="{{ path('campaign_index') }}">Retour à la liste</a>
    </div>
</div>

    <table class="table pt-2">
        <tbody>
            <tr>
                <th>Nom de la Campagne</th>
                <td>{{ campaign.nameCampaign }}</td>
            </tr>
            <tr>
                <th>Objet de la Campagne</th>
                <td>{{ campaign.objectCampaign }}</td>
            </tr>
            <tr>
                <th>Template de la Campagne</th>
                <td>
                    {% for template in campaign.fkIdTemplate %}
                        <div class="card">
                            <div class="card-header">
                                {{ template.nameTemplate }}
                            </div>
                            <div class="card-body">
                                {{ template.fileTemplate|raw }}
                            </div>
                        </div> 
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Liste des Contact</th>
                <td>
                    {% for liste in campaign.fkIdListe %}
                        <div class="card">
                            <div class="card-header">
                                {{ liste.nameListe }}
                            </div>
                            <div class="card-body">
                                <ul>
                                    {% for contact in liste.fkIdContact %}
                                        <li>
                                        {{ contact.fullName }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div> 
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <form method="get" accept-charset="UTF-8" action="{{ path("campaign_mail", {'id': campaign.id})}}">
    
    <button class="btn btn-info">
        Lancer la Campagne
    </button>
    </form>

    <a href="{{ path('campaign_edit', {'id': campaign.id}) }}" class="btn mt-4 btn-primary">Modifier Campagne</a>

    {{ include('campaign/_delete_form.html.twig') }}
{% endblock %}
