<template>
    <b-container fluid>

    <div v-show="success" class="alert alert-success">
        La campagne a été supprimé avec succès
    </div>
    <!-- User Interface controls -->
    <!-- Main table element -->
    <b-table
        show-empty
        small
        striped
        sticky-header
        sort-icon-left
        stacked="md"
        :items="filtered"
        :fields="fields"
        :current-page="currentPage"
        :per-page="perPage"
        :filter="filter"
        :sort-direction="sortDirection"
        @filtered="onFiltered"
    >
        <template slot="top-row" slot-scope="{ fields }">
            <td v-for="field in fields" :key="field.key" >
                <b-form-input v-if="field.key != 'actions'" size="sm" v-model="filters[field.key]" :placeholder="field.label"></b-form-input>
            </td>
        </template>
        <template v-slot:cell(nameCampaign)="data">
            <!-- `data.value` is the value after formatted by the Formatter -->
            <a :href="`/${namePage}/${data.item.id}`" class="text-primary btn btn-light"><i class="fas fa-paper-plane"></i>&nbsp; {{ data.value }}</a>
            <div v-if="items.length == 0">
                Aucune Campagne
            </div>
        </template> 

        <template v-slot:cell(fileTemplate)="data">
            <!-- `data.value` is the value after formatted by the Formatter -->
            <div v-html="data.item.fileTemplate">
            </div>
        </template> 

        <template v-slot:cell(actions)="row" v-if="this.datas.length > 0">
            <b-button @click="edit(row.item.id)" size="sm" variant="primary" class="mr-1">
                Editer
            </b-button>
            <b-button v-if="namePage != 'template' && namePage != 'contact'" size="sm" @click="row.toggleDetails">
                {{ row.detailsShowing ? 'Cacher' : 'Voir' }} Details
            </b-button>
            <b-button  @click="info(row.item.id, row.item.nom, row.item.prenom, $event.target)" class="btn btn-sm btn-danger" type="submit"><i class="far fa-trash-alt"></i></b-button>
        </template>
        <template v-slot:row-details="row">
        <b-card v-if="namePage == 'campagne'">
            <div class="row">
                <div class="col-6">
                    Le Template 
                    <div class="card mt-2" v-for="(value, key) in row.item.fKIdTemplate" :key="key">
                        <div class="card-header">
                            {{ value.nameTemplate }}
                        </div>
                        <div class="card-body" v-html="value.fileTemplate">
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    Les Contacts
                    <b-card no-body class="mt-2" v-for="(value, key) in row.item.fKIdListe" :key="'liste'+key">
                    <b-card-header header-tag="header" class="p-1" role="tab">
                        <b-button block v-b-toggle="'accordion-'+key+row.item.id" variant="light" >Liste {{ value.nameListe }}</b-button>
                    </b-card-header>
                    <b-collapse :id="'accordion-'+key+row.item.id" accordion="my-accordion" role="tabpanel">
                        <b-card-body>
                            <ul>
                                <li v-for="(contact, key) in value.fKIdContact" :key="'contact'+key">
                                    {{ contact.fullName }}
                                </li>
                            </ul>
                        </b-card-body>
                    </b-collapse>
                    </b-card>
                </div>
            </div>
        </b-card>
        <b-card v-if="namePage == 'liste'">
            <div class="row">
                <div class="col-12">
                    Les Contacts
                    <b-card no-body class="mt-2">
                        <b-card-body>
                            <ul>
                                <li v-for="(contact, key) in row.item.fKIdContact" :key="'contact'+key">
                                    {{ contact.fullName }}
                                </li>
                            </ul>
                        </b-card-body>
                    </b-card>
                </div>
            </div>
        </b-card>
        </template>
    </b-table>
    <b-row>
        <b-col sm="5" md="2" class="my-1">
            <b-form-group
                label="Par page"
                label-cols-sm="6"
                label-cols-md="4"
                label-cols-lg="3"
                label-align-sm="right"
                label-size="sm"
                label-for="perPageSelect"
                class="mb-0"
            >
                <b-form-select
                v-model="perPage"
                id="perPageSelect"
                size="sm"
                :options="pageOptions"
                ></b-form-select>
            </b-form-group>
        </b-col>
        <b-col sm="7" md="4" offset-md="2" offset-sm="0" class="my-1">
            <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                align="fill"
                size="sm"
                class="my-0"
            ></b-pagination>
        </b-col>
    </b-row>
    <!-- Info modal -->
    <b-modal :id="infoModal.id" :title="infoModal.title" @hide="resetInfoModal">
        <pre>{{ infoModal.content }}</pre>
        <template v-slot:modal-footer="{ cancel}">
            <!-- Emulate built in modal footer ok and cancel button actions -->
            
            <b-button size="sm" variant="secondary" @click="cancel()">
                Annuler
            </b-button>
                <b-button @click="submitDelete(idItem)" size="sm" variant="success">
                    Confirmer
                </b-button>
        </template>
    </b-modal>
    </b-container>
</template>

<script>
    import Campagne from '../data/Campagne.js'
    import Liste from '../data/Liste.js'
    import Template from '../data/Template.js'
    import Contact from '../data/Contact.js'
    export default {
    props: {
        datas : Array,
    },
    data() {
        return {
        filters: {
            id: '',
        },
        items: this.datas,
        fields: [],
        totalRows: 0,
        currentPage: 1,
        perPage: 10,
        namePage: "",
        pageOptions: [10, 50, 100],
        sortDirection: 'asc',
        filter: null,
        infoModal: {
            id: 'info-modal',
            title: '',
            content: ''
        },
        idItem : "",
        success : false
        }
    },
    computed: {
        filtered () {
            const filtered = this.items.filter(item => {
                return Object.keys(this.filters).every(key =>
                    String(item[key]).includes(this.filters[key]))
            })
            return filtered.length > 0 ? filtered : [{
                id: '',
            }]
        },
    },
    mounted() {
        // console.log(this.items)
        // Set the initial number of items
        this.totalRows = this.items.length
        this.namePage = window.location.pathname.split('/')[1]

        // this.datas.forEach(element => {
        //     console.log(element)
        //     this.items.push(element)
        // });

        if (this.namePage == "campagne") {
            this.fields = Campagne.getFields()
        } else if (this.namePage == "liste") {
            this.fields = Liste.getFields()
        } else if (this.namePage == "template") {
            this.fields = Template.getFields()
        } else if (this.namePage == "contact") {
            this.fields = Contact.getFields()
        } else {
            this.fields = []
        }
    },
    methods: {
        edit(id){
            let getUrl = window.location;
            let baseUrl = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];
            let url = baseUrl+'/'+id+'/edit'

            return window.location.href = url
        },
        submitDelete(id){
            let getUrl = window.location;
            let baseUrl = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];
            let url = baseUrl+'/delete/'+id


            var myHeaders = new Headers({
                "Content-Type": "text/plain",
                "X-Custom-Header": "ProcessThisImmediately",
                'X-Requested-With': 'XMLHttpRequest',
                });

                const formData = new FormData();
                    formData.append('id', id);


            return fetch(url, {
            method: "POST",
            body: formData
            }).then((response) => {
                this.items = [] 
                this.datas.forEach(element => {
                    if (element.id != id) {
                        this.items.push(element)
                    }
                this.$root.$emit('bv::hide::modal', this.infoModal.id)
                this.success = true
                });
            }).catch(error => console.log(error));
        },
        info(id, nom, prenom, button) {
            this.idItem = id
            this.infoModal.title = `Confirmation`
            this.infoModal.content = `Etes vous sur de vouloir supprimer ?`
            this.$root.$emit('bv::show::modal', this.infoModal.id, button)
        },
        resetInfoModal() {
            this.infoModal.title = ''
            this.infoModal.content = ''
        },
        onFiltered(filteredItems) {
            // Trigger pagination to update the number of buttons/pages due to filtering
            this.totalRows = filteredItems.length
            this.currentPage = 1
        }
    }
}
</script>
