{{ form_start(form) }}
    <div class="row">
        <div class="col-6">
            {{ form_row(form.lastname_contact) }}
        </div>
        <div class="col-6" >
            {{ form_row(form.firstname_contact) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ form_row(form.mail_contact) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ form_row(form.FK_id_liste) }}
        </div>
    </div>
    <div class="row justify-content-center pt-4">
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}