{% extends 'base.html.twig' %}

{% block title %}Edit Contact{% endblock %}

{% block body %}
    <div class="row justify-content-between">
    <h1>Editer un Contact</h1>
        <div>
            <a class="btn btn-secondary" href="{{ path('contact_index') }}">Retour à la liste</a>
            {{ include('contact/_delete_form.html.twig') }}
        </div>
    </div>


<div class="container pt-4">
    {{ include('contact/_form.html.twig', {'button_label': 'Modifier'}) }}
</div>


    
{% endblock %}
