{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
    <div class="row justify-content-between">
        <h1>Liste des contacts</h1>
        <div>
            <a class="btn btn-primary" href="{{ path('contact_new') }}">
                Créer Contact
            </a>
        </div>
        
    </div>

    
    <table-component 
    :datas="{{ contacts }}"
    ></table-component>

{% endblock %}
