{% extends 'base.html.twig' %}

{% block title %}Nouveau Contact{% endblock %}

{% block body %}
    

    <div class="row justify-content-between">
        <h1>Creer un Contact</h1>
        <div>
            <a class="btn btn-secondary" href="{{ path('contact_index') }}">Retour à la liste</a>
        </div>
    </div>

<div class="container pt-4">
    {{ include('contact/_form.html.twig') }}
</div>

{% endblock %}
