<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}MailFim !{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.21.0/ui/trumbowyg.min.css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.21.0/plugins/colors/ui/trumbowyg.colors.min.css" />
            <link rel="stylesheet" href="{{ asset('build/app.css') }}"></link>
        {% endblock %}
        {% block links %}
            {% include 'lib/trumbowyg-css.html.twig' %}
        {% endblock %}
    </head>
    <body>

    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <img class="img logo"
                src="{{ asset('build/logo.png')}}"
                alt="Logo du site Mail Fim">
            <a class="navbar-brand pl-0 text-right" href="{{ path('home') }}">Mail Fim</a>
            <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                {# <div class="input-group">
                    <input class="form-control" type="text" placeholder="Recherchez..." aria-label="Search" aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div> #}
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ml-auto ml-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    {% if app.user %}
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="{{ path("user_show", {id: app.user.id})}}">Profil</a>
                        <a class="dropdown-item" href="{{ path("user_index")}}">Administration utilisateur</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{path("app_logout")}}">Deconnexion</a>
                    </div>
                    {% else %}
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="{{path("app_login")}}">Connexion</a>
                    </div>
                    {% endif %}
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav pt-4">
                            <a class="nav-link" href="{{ path("home")}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Tableau de bord
                            </a>
                            <div class="sb-sidenav-menu-heading">Interface</div>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Campagne
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{{ path('campaign_new') }}">Creer une Campagne</a>
                                    <a class="nav-link" href="{{ path('campaign_index') }}">Liste des Campagnes</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="far fa-clipboard"></i></div>
                                Template
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{{ path('template_new') }}">Creer un Template</a>
                                    <a class="nav-link" href="{{ path('template_index') }}">Liste des Templates</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseContact" aria-expanded="false" aria-controls="collapseContact">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Contact
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseContact" aria-labelledby="headingThree" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{{ path('contact_new') }}">Creer un Contact</a>
                                    <a class="nav-link" href="{{ path('liste_index') }}">Liste des Contacts</a>
                                    <a class="nav-link" href="{{ path('contact_index') }}">Tous les Contacts</a>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Statistiques</div>
                            <a class="nav-link" href="#">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Campagne
                            </a>
                        </div>
                    </div>
                    {% if app.user %}
                    <div class="sb-sidenav-footer">
                        <div class="small">Utilisateur connecté :</div>
                        {{ app.user.username }}
                    </div>
                    {% else %}
                        <div class="sb-sidenav-footer">
                        <div class="small">Non connecté :</div>
                    </div>
                    {% endif %}
                </nav>
            </div>
        <div id="layoutSidenav_content">
        <main>
        <div class="container-fluid pt-4">
            <div id="app">
            {% block body %}{% endblock %}
            </div>
        </div>
        </main>
    </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% include 'lib/trumbowyg-js.html.twig' %}

            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.21.0/trumbowyg.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.21.0/langs/fr.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.21.0/plugins/colors/trumbowyg.colors.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.21.0/plugins/upload/trumbowyg.upload.min.js"></script>
            
            <script>
                    //var path = window.location.href; // because the 'href' property of the DOM element is the absolute path
                    //$("#layoutSidenav_nav .sb-sidenav a.nav-link").each(function() {
                     //   if (this.href === path) {
                     //       $(this).addClass("active");
                     //   }
                    //});
                    // Toggle the side navigation
                    $("#sidebarToggle").on("click", function(e) {
                        e.preventDefault();
                        $("body").toggleClass("sb-sidenav-toggled");
                    });

                    $(document).ready(() => {
                        $('#template_file_template').trumbowyg({
                            lang : 'fr',
                            btns: [
                                ['viewHTML'],
                                ['undo', 'redo'], // Only supported in Blink browsers
                                ['formatting'],
                                ['strong', 'em', 'del'],
                                ['superscript', 'subscript'],
                                ['link'],
                                ['insertImage'],
                                ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                                ['unorderedList', 'orderedList'],
                                ['horizontalRule'],
                                ['removeformat'],
                                ['fullscreen'],
                                ['foreColor', 'backColor']
                            ]
                        })
                    }
                    )
            </script>
            
        {% endblock %}
    </body>
</html>
