
.bg-campaign{
    background-image: url('../../images/campaign.png') ;
    background-size: 100% 100%;
    background-position: center top;
    background-repeat: no-repeat;
    height: 400px;
}


.bg-template{
    background-image: url('../../images/template.png') ;
    background-size: 100% 100%;
    background-position: center top;
    background-repeat: no-repeat;
    height: 200px;
}


.bg-contact{
    background-image: url('../../images/contact.png') ;
    background-size: 100% 100%;
    background-position: center top;
    background-repeat: no-repeat;
    height: 200px;
}